<ion-view view-title="Crear Evento">
  <ion-content>
    <form ng-controller="CreateCtrl">
      <ion-list>
        <ion-item>
          <ion-label floating>Titulo</ion-label>
          <ion-input type="text" ng-model="eTitulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Contenido</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
        <ion-item ng-click="date()">
          <span>{{fyh}}</span>
        </ion-item>
      </ion-list>
      <button class="button button-full button-energized " ng-click="sendNew()">Crear Noticia</button>
    </form>
  </ion-content>
</ion-view>
