<ion-view view-title="Noticias">
  <ion-content ng-init="init()">
  <ion-refresher
    pulling-text="Tira para actualizar..."
    on-refresh="refresh()">
  </ion-refresher>
    <ion-list class="card" ng-repeat="entry in entries">
      <ion-item class="item item-text-wrap"  ng-click="showConfirm(entry.title,'lugar','notas', cutEvent(cutEvent(entry.content,1,'event-data='),2,'-'),cutEvent(cutEvent(entry.content,1,'event-data='),1,'-'),cutEvent(cutEvent(entry.content,1,'event-data='),0,'-'),cutEvent(cutEvent(cutEvent(entry.content,1,'event-data='),3,'-'),0,':'),cutEvent(cutEvent(cutEvent(entry.content,1,'event-data='),3,'-'),1,':'))">
        <h2>{{entry.title}}</h2>
        <p>{{cutEvent(cutEvent(entry.content,1, '>'),0,'event-data=')}}</p><br>
<!--         <p>{{cutEvent(cutEvent(entry.content,1,'event-data='),0,'-')}} = dia
          {{cutEvent(cutEvent(entry.content,1,'event-data='),1,'-')}} = mes
          {{cutEvent(cutEvent(entry.content,1,'event-data='),2,'-')}} = año
          {{cutEvent(cutEvent(entry.content,1,'event-data='),3,'-')}} = hora</p> -->
        <!-- <ion-option-button class="button-assertive" ng-click="setEvent(cutEvent(entry.content,2,'event-data=')">
          Añadir Evento
        </ion-option-button> -->
      </ion-list-item>
    </div>
  </ion-content>
</ion-view>
