<ion-view class="home-view">
  <ion-nav-title>
    <span>Noticias</span>
  </ion-nav-title>
  <ion-content ng-init="refresh()">
    <ion-refresher pulling-text="Tira para actualizar..." on-refresh="refresh()"></ion-refresher>
    <!--<button ng-click="btn()">hola tonto</button>
    <ion-list>
      <ion-item class="item item-text-wrap card" ng-repeat="blog in blogs">
        <h1>{{blog.title}}</h1><br>
        {{cutEvent(blog.content,0,'event-data=')}}<br>
        <ion-option-button class="button-positive" ng-click="showConfirm(blog)" >
          Al Calendario
        </ion-option-button>
      </ion-item>
    </ion-list>
    -->
    <div id="noticias-card21" class="list card " ng-repeat="blog in blogs">
      <ion-item style="" id="noticias-list-item1" class="item-icon-left  ">
          <i class="icon ion-ionic"></i>{{blog.title}}</ion-item>
      <div style="" id="noticias-list-item-container1" class="item item-body ">
          <p class=" " style="margin-top:0px;color:#000000;" id="noticias-null">
            {{blog.desc}}
          </p>
          <span ng-if="blog.date !== ''" style="font-size:10px;">{{blog.date}}</span>
          <button ng-if="blog.date !== ''" style="text-align: right;" id="noticias-list-item2" class="button button-clear button-full button-calm" ng-click="showConfirm(blog)" >Agregar evento</button>
      </div>
  </div>
  </ion-content>
</ion-view>
